<!-- Page -->
<div class="page vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">
  <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
    <h2>Forgot Your Password ?</h2>
    <!-- <p>Input your registered email to reset your password</p> -->

    <form method="post" role="form" #forgetPasswordForm="ngForm" (ngSubmit)="forgetPassword(forgetPasswordForm.value)"
      class="forgetPasswordForm">
      <div *ngIf="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{ responseMsg }}</strong>
      </div>

      <div class="form-group">
        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Enter new password"
          ngModel>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="inputConfrimPassword" name="confirmPassword"
          placeholder="Confirm new password" ngModel>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Reset Your Password</button>
      </div>
    </form>

    <footer class="page-copyright">
      <p>WEBSITE BY CitiSpotter</p>
      <p>© 2018. All RIGHT RESERVED.</p>
      <div class="social">
        <a class="btn btn-icon btn-pure" href="javascript:void(0)">
          <i class="icon bd-twitter" aria-hidden="true"></i>
        </a>
        <a class="btn btn-icon btn-pure" href="javascript:void(0)">
          <i class="icon bd-facebook" aria-hidden="true"></i>
        </a>
        <a class="btn btn-icon btn-pure" href="javascript:void(0)">
          <i class="icon bd-dribbble" aria-hidden="true"></i>
        </a>
      </div>
    </footer>
  </div>

  <div class="custom_overlay custom_overlay1 display_none"></div>

  <div class="custom_loading_outer custom_loading_outer1 display_none">
    <app-loader [width]="30" [height]="30"></app-loader>
    <router-outlet></router-outlet>
  </div>

  <!-- Footer -->
  <!-- <footer class="site-footer">
    <div class="site-footer-legal">
      <p>Citispotter Limited © 2019-2021. All Rights Reserved.</p>
    </div>
  </footer> -->
</div>
<!-- End Page -->
