.page {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.forgetPasswordForm {
  width: 400px;
  margin: 30px 0;
}
.site-footer {
  margin-left: 0;
}
