<div class="tab-pane animation-slide-left pt-15" id="change-password" role="tabpanel">
    <form #changePasswordForm="ngForm" id="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm.value)">
        <div *ngIf="alert" id="topScrollAnchor" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{ responseMsg }}</strong>
        </div>

        <div class="form-group passwrod_checker_wrapper">
            <label>Password</label>
            <div class="password_field_wrapper">
                <input (keyup)="checkPasswordStrength($event)" autocomplete="off" type="password"
                    class="form-control password_input" id="inputPassword" name="password" placeholder="Enter password"
                    ngModel>
                <span class="showPasswordBtn">SHOW</span>
            </div>
            <div class="password_indicator">
                <span data-strength="weak" class="weak"></span>
                <span data-strength="medium" class="medium"></span>
                <span data-strength="strong" class="strong"></span>
            </div>
            <div class="password_text"></div>

            <div class="card card-shadow card-responsive password_hints_wrapper">
                <h5><b>Password Must</b></h5>
                <p><b>- Have atleast 6 characters</b></p>
                <p><b>- Include atleast 1 number and 1 special letter (Ex: @ $)</b></p>
            </div>
        </div>

        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" id="inputConfirmPassword" name="confirm_password"
                placeholder="Enter confirm password" ngModel />
        </div>

        <button type="submit" class="btn btn-primary" id="changePasswordBtn">
            <i class="fa fa-spinner fa-spin changePassword_loader display_none"></i>
            Change Password
        </button>
    </form>
</div>